
.app-layout {
    position: relative;
}

.app-layout-head {
    position: fixed;
    top: env(safe-area-inset-top);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    height: 55px;
    background-color: white;
    box-shadow: 0 4px 6px 0 rgb(0 0 0 / 10%);
    z-index: 100;
}

.app-layout-content {
    position: fixed;
    top: calc(env(safe-area-inset-top) + 55px);
    left: env(safe-area-inset-left);
    right: env(safe-area-inset-right);
    bottom: 0;
    overflow: auto;
    background-color: white;
}